<% owner.items.each do |item|  %>
<li class="collection-item avatar <%= display %> item <%= holder %>-item-<%= item.id %>">
  <img src="http://game-icons.net/icons/lorc/originals/png/plain-dagger.png" alt="" class="circle">
  <span class="title"><%= item.name  %></span>
  <p>Price: <%= item.price %> <br>
     Sell For: 10 <br>
     <% item.skill_set.non_zero_attributes.each do |attribute, value| %>
     <%= attribute %>: <%= value %>
     <% end %>
  </p>
  <button class="secondary-content" onclick="<%= type %>Item('.<%= holder %>-item-<%= item.id %>')">Buy</button>
</li>
<% end %>
