<% owner.each do |item|  %>
<li class="collection-item avatar <%= display %> item <%= holder %>-item-<%= item.id %>">
  <img src="<%= image_url("#{@store.category.name}_icon.png") %> " alt="" class="circle">
  <span class="title"><%= item.name  %></span>
  <p>Price: <span class="price" ><%= item.price %></span> <br>
     <% item.skill_set.non_zero_attributes.each do |attribute, value| %>
     <%= attribute %>: <%= value %>
     <% end %>
     <button class="secondary-content <%= display %>-<%= type %>" onclick="<%= type %>Item('.<%= holder %>-item-<%= item.id %>')"><i class="mdi-content-add"></i></button>
  </p>
</li>
<% end %>
