<h1 class="center">Welcome to the <%= @store.name %> <%= @store.category.name %></h1>

<div class="container journal">
  <div class="row">

    <div class="character_selling">
      <!-- First Column/Charcter Inventory -->
      <div class="col m3" style="padding-right: 0">
        Your Inventory
        <ul class="scrolling collection">
          <%= render partial: "items", locals: { holder: "player",
                                                 display: "show",
                                                 owner: @character_items,
                                                 type: "sell" } %>
        </ul>
      </div>

      <!-- Column Two/Character Selling -->
      <div class="col m3" style="padding-left: 0">
        You Are Selling
        <ul class="scrolling collection character_trades">
          <%= render partial: "items", locals: { holder: "player",
                                                 display: "hide",
                                                 owner: @character_items,
                                                 type: "sell" } %>
        </ul>
      </div>

    </div>


    <!-- Third Column/Store Trades -->
    <div class="store_trades store_selling">
      <div class="col m3" style="padding-right: 0">
        You are buying
        <ul class="scrolling collection store_trades">
          <%= render partial: "items", locals: { holder: "store",
                                                 display: "hide",
                                                 owner: @store.items,
                                                 type: "buy" } %>
          </ul>
      </div>

      <!-- Fourth Column/Store Inventory -->
      <div class="col m3" style="padding-left: 0">
        Store Inventory
        <ul class="scrolling collection store_inventory ">
          <%= render partial: "items", locals: { holder: "store",
                                                 display: "show",
                                                 owner: @store.items,
                                                 type: "buy" } %>
        </ul>
      </div>
    </div>

  </div>
  <div class='row'>
    <div class="col m3 offset-m3" style="padding-right: 0">
      Total Value of Goods Selling
      <div class="sold_value">0
      </div>
    </div>
    <div class="col m3" style="padding-right: 0">
      Total Value of Goods Buying
      <div class="bought_value">0
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="col m4 offset-m5" style="padding-right: 0">
      Total Trade Amount
      <div class="total_value">0
      </div>
    <!-- <button id="finalize-trade">Finalize Trade</button> -->
    <button onclick="itemExchange( <%= @store.id %>, <%= current_character.id %> )">Finalize Trade</button>
    </div>
  </div>
</div>
