<h2 class="center dashboard-cursive">
Dashboard for <%= current_user.username.capitalize %>
</h2>
<div class="start_button">
  <% if current_character %>
  <%= link_to "Start New Game", new_character_path, class: "btn waves-effect waves-green", :data => { :confirm => "This will delete your current game!!"}%> <br> <br>
  <% else %>
  <%= link_to "Start New Game", new_character_path, class: "btn waves-effect waves-green"%> <br> <br>
  <% end %>
  <%= link_to("Continue Game", continue_game_path, class: "btn waves-effect waves-green", method: :post) if current_character%>
</div>
<div class="container card_position">
  <% if current_character %>
  <h4 class="dashboard-cursive">Current Character</h4>
    <div class="card avatar profile-<%= current_avatar.id %> large">
        <div class="card-image">
          <img src="<%= image_url(current_avatar.image_url)%>">
        </div>
        <div class="card-content center">
          <span class="card-title activator grey-text text-darken-4"><%=current_avatar.name%></span>
          <p>
            Bank: <%= current_character.money %>
          </p>
          <p>
            Health: <%= current_character.hp %>
          </p>
          <p>
            Location: <%= current_character.location.name %>
          </p>
          <p>
            Item Count: <%= current_character.items.count %>
          </p>
          <p>
            Injury Count: <%= current_character.incidents.count %>
          </p>

        </div>
    </div>
  <% end %>
</div>


<h4>
</h4>
