<div class="container admin-dash">
  <h2>Edit Items In <%= @store.name %></h2>
  <div class="row">
    <div class="col m6">
      <%= link_to "Add New Item", new_admin_item_path(store_id: @store.id), method: :get, class: 'btn delete' %>
    </div>
    <div class="col m6">
      <%= link_to "Return to Store List", edit_admin_store_path(store_id: @store.id), method: :get, class: 'btn delete' %>
    </div>
  </div>

    <ul class="collection">
      <% @store.items.each do |item| %>
        <li class ="collection-item avatar" id="item-<%= item.id %>">
        <div class="row">
          <div class="col m6">
            <span class="title"><%= item.name  %></span>
            <p>Price: <span class="price" ><%= item.price %></span> <br>
            <% item.skill_set.attributes.each do |attribute, value| %>
              <%= attribute %>: <%= value %> ||
            <% end %>
            </p>
          </div>
          <div class="col m6">
            <%= button_to "Edit", edit_admin_item_path(item), method: :get, class: "waves-effect waves-light btn" %><br />
            <%= link_to "Delete", admin_item_path(item, store_id: @store.id), method: :delete, class: "waves-effect waves-light btn delete" %>
          </div>
        </div>
        </li>
        <hr>
        <% end %>
      </ul>
</div>
