<div class="row">
	<div class="col m12">
		<img class="responsive-img" src="<%= image_url('spacer.png') %>">
	</div>
</div>
<div class="row">
	<div class="col m1 offset-m7">
		<%= render partial: 'inn_link' %>
	</div>
</div>
<div class="row">
	<div class="col m1">
		<%= render partial: 'apothecary_link' %>
	</div>
	<div class="col m1 offset-m9">
		<%= render partial: 'blacksmith_link' %>
	</div>
</div>
<div class="row">
	<div class="col m1 offset-m5">
		<%= render partial: 'armory_link' %>
	</div>
</div>
