<div class="container">
  <h4 class="dashboard-cursive"><%= current_avatar.name %></h4>
    <div class="row">

      <div style="padding:0px" class="card avatar-show aggregate-stats col s4 profile-<%= current_avatar.id %> large">
          <div class="card-image">
            <img src="<%= image_url(current_avatar.image_url)%>">
          </div>

          <div class="row">
            <ul style="padding-left:25px" class="col s6">
              <span class="card-title activator grey-text">Current Attributes</span>
              <% current_character.current_skills.each do |skill, value| %>
                <% if skill != "health" && skill != "money" %>
                  <li><%= skill.capitalize %>: <%= value %></li>
                <% end %>
              <% end %>
            </ul>

            <ul class="col s6">
              <span class="card-title activator grey-text">Summary</span>
              <li>Money: $<%= current_character.bank %></li>
              <li>Health: <%= current_character.hp %></li>
              <li>Location: <%= current_character.location.name %></li>
            </ul>
          </div>

      </div>

      <div class="col s1">
        <br>
      </div>

      <div  class="card avatar-show  col s6 profile-<%= current_avatar.id %> large">
          <div >
            <span class="card-title  activator grey-text">Base Attributes</span>
            <div class="avatar-stats">
              <ul>
              <% current_avatar.skill_set.attributes.each do |skill, value| %>
                <li><%= skill.capitalize %>: <%= value %></li>
              <% end %>
              </ul>
            </div>

            <span class="card-title activator grey-text ">Inventory</span>

            <table class="inventory">
              <tr class="inventory-header">
                <th>Name</th><th>Strength</th><th>Dexterity</th><th>Intelligence</th><th>Speed</th><th>Price</th><th>Health</th>
              </tr>
              <% current_character.items.each do |item| %>
                </tr>
                <td>
                  <%= item.name.capitalize %>
                </td>
                  <% item.skill_set.attributes(-1).each do |skill, value| %>
                    <td class="center"><%= value %></td>
                  <% end %>
                <tr>
              <% end %>
            </table>
            <br>

            <span class="card-title activator grey-text">Injuries</span>
            <table class="incidents">
              <tr class="inventory-header">
                <th>Name</th><th>Strength</th><th>Dexterity</th><th>Intelligence</th><th>Speed</th><th>Price</th><th>Health</th>
              </tr>
              <% current_character.incidents.each do |incident| %>
                </tr>
                  <td>
                    <%= incident.name %>
                  </td>
                  <% incident.skill_set.attributes.each do |skill, value| %>
                    <td class="center"> <%= value %></td>
                  <% end %>
                <tr>
              <% end %>
            </table>
          </div>
      </div>
  </div>
</div>
