<li class ="collection-item avatar" id="avatar-<%= avatar.id %>">
  <img src="<%= image_url avatar.image_url %>" alt="" class="circle">
  <span class="title"><%= avatar.name  %></span>
  <div class="row">
    <div class="col m6">
      <p>
        Status: <%= avatar.status.upcase %><br />
        <% avatar.skill_set.attributes.each do |attribute, value| %>
         <%= attribute %>: <%= value %> ||
        <% end %>
      </p>
    </div>
    <div class="col m6">
      <%= button_to "Edit", edit_admin_avatar_path(avatar), method: :get, class: "waves-effect waves-light btn" %><br />
      <% if  avatar.status == "active" %>
        <%= button_to "Retire", admin_avatar_path(avatar), method: :delete, class: "waves-effect waves-light btn" %>
      <% else %>
        <%= link_to "Activate", admin_activate_avatar_path(id: avatar.id), method: :get, class: "waves-effect waves-light btn delete" %>
      <% end %>
    </div>
  </div>
</li>
<hr>
