<div class="admin-dash container">
  <h2>Add New Avatar</h2>

  <%= form_for @avatar, url: admin_avatars_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name%><br />
    <%= f.label :money %>
    <%= f.number_field :money %><br />
    <%= f.label :dexterity %>
    <%= f.number_field :dexterity %><br />
    <%= f.label :intelligence %>
    <%= f.number_field :intelligence %><br />
    <%= f.label :strength %>
    <%= f.number_field :strength %><br />
    <%= f.label :health %>
    <%= f.number_field :health %><br />
    <%= f.label :speed %>
    <%= f.number_field :speed %><br />
    <%#= f.label :image %>
    <%#= f.file_field :image%>
    <%= f.submit "Create Avatar", class: "btn" %>
  <% end %>
</div>
