<!DOCTYPE html>
<html>
<head>
  <title>Journey to Mount Doom</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>\
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="application-body">

  <% if in_game? %>
    <%= render partial: '/shared/game_nav' %>
  <% else %>
    <%= render partial: '/shared/nav' %>
  <% end %>

  <% flash.each do |type, msg| %>
      <script text="text/javascript">
        Materialize.toast('<%= msg %> ', 5000, 'rounded <%= "flash_#{type}" %>');
      </script>
  <% end %>
    <%= yield %>
</body>
</html>
